---
const url = "https://github.com/yangniao23";
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={`0;url=${url}`} />
        <link rel="canonical" href={url} />
        <title>Redirecting…</title>
    </head>
    <body>
        <p>Redirecting to <a href={url}>{url}</a>…</p>
    </body>
</html>
