---
export interface Props {
    label: string;
    children?: any;
}

const { label } = Astro.props;
---

<div>
    <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">
        {label}
    </h3>
    <div class="text-lg text-gray-700 dark:text-gray-300">
        <slot />
    </div>
</div>
